/*body>div.container {margin: 0 auto;}
div{outline: red solid 1px;}*/
.contact-home{font-size: small; line-height: 1.2;}
.social-icons{}
.container .jumbotron{padding: 0 30px;}
.nav>li,.nav>ul{font-size: 0.8em;}
ul.dropdown-menu{min-width:200px;}
.content-area{display: block;float: left;}
.free-ebook{height:250px; float: right;}
.header{clear: both;}
